#service
    padding: 40px 0
    h1
        font-weight: 700
        font-size: 36px
        margin: 15px 0 
    h3
        color: #808080
        margin: 0 0 40px
        font-size: 21px
        line-height: 1.5
        font-weight: 200
    .icon
        width: 100px
        i
            font-size: 100px
    .box
        .textbox
            margin: 24px 0
            h2
                font-size: 22px
                font-weight: 500
            p
                font-size: 18px
                line-height: 1.5
                color: gray
                font-weight: 400
                margin: 16px 0
    .wid
        width: 580px
