body {
  font-family: "Dosis", sans-serif;
  font-weight: 5000;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

.bigicon i {
  font-size: 30px;
  color: #CCCCCC;
}

#carefor {
  padding: 40px 0;
  background-color: #F8F9FA;
}
#carefor .textbox h1 {
  font-weight: 700;
  font-size: 50px;
  margin: 0 0 10px;
}
#carefor .textbox h4 {
  color: #a8a8a8;
  font-size: 18px;
  font-weight: 200;
}
#carefor .imgbox {
  max-width: 500px;
  height: 600px;
}
@media screen and (max-width: 992px) {
  #carefor .imgbox {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  #carefor .textbox {
    margin-bottom: 20px;
    text-align: center;
  }
  #carefor .textbox h1 {
    font-size: 40px;
  }
  #carefor .imgbox {
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
  }
}

#welcome {
  padding: 40px 0;
}
#welcome h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 15px 0 0;
}
#welcome h3 {
  color: #808080;
  margin: 20px 0 40px;
  font-size: 18px;
}
#welcome .textbox {
  padding: 80px;
  text-align: end;
}
#welcome .textbox .btn {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #a2c0be;
  color: #ffffff;
}
#welcome .textbox h2, #welcome .textbox h6 {
  margin: 10px;
}
#welcome .textbox h2 {
  font-size: 32px;
  font-weight: 100;
}
#welcome .textbox h6 {
  font-size: 18px;
}
#welcome .left {
  text-align: start;
}
#welcome .wid {
  max-width: 580px;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  #welcome .textbox {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  #welcome h1 {
    font-size: 24px;
  }
  #welcome h3 {
    font-size: 16px;
    margin: 10px 0 30px;
  }
  #welcome .textbox {
    margin: 20px 0;
  }
  #welcome .textbox .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #welcome .textbox {
    text-align: center;
    max-width: 400px;
  }
  #welcome .imgbox {
    border-radius: 20px;
    width: 250px;
  }
  #welcome .reverse {
    order: 1;
  }
  #welcome .center {
    justify-content: center;
  }
}

#about {
  padding: 40px 0;
}
#about .textbox {
  text-align: start;
  padding: 0 100px;
}
#about .textbox h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 15px 0 0;
}
#about .textbox h3 {
  color: #808080;
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.6;
}
#about .textbox p {
  margin: 0 0 20px;
  color: #6c757d;
  font-size: 18px;
  line-height: 1.4;
}
#about .textbox li {
  padding: 20px 0 0 0;
  color: #808080;
  font-size: 18px;
  display: flex;
}
#about .textbox .icon {
  padding: 0 15px 0 0;
  color: #a2c0be;
  font-size: 20px;
}
#about .textbox h5 {
  font-size: 20px;
  color: #949494;
}
#about .imgbox {
  max-width: 450px;
}
@media screen and (max-width: 1200px) {
  #about .textbox {
    padding: 0 50px;
  }
}
@media screen and (max-width: 992px) {
  #about .textbox {
    padding: 0 25px;
  }
  #about .textbox h1 {
    font-size: 24px;
    margin: 10px 0 0;
  }
  #about .textbox h3 {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.2;
  }
  #about .textbox p {
    margin: 0 0 20px;
    color: #6c757d;
    font-size: 18px;
    line-height: 1.4;
  }
  #about .textbox li {
    padding: 10px 0 0;
  }
}
@media screen and (max-width: 768px) {
  #about .textbox {
    text-align: center;
  }
  #about .textbox li {
    max-width: 300px;
  }
  #about .textbox ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 15px;
  }
  #about .imgbox {
    max-width: 350px;
  }
}
@media screen and (max-width: 500px) {
  #about .textbox {
    padding: 0;
  }
  #about .textbox ul {
    align-items: flex-start;
    padding: 0;
    margin-right: 8px;
  }
  #about .textbox ul h5 {
    font-size: 16px;
  }
}

#trainer {
  padding: 60px 0;
  background-color: #A2C0BE;
}
#trainer h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0 0;
}
#trainer h3, #trainer h4 {
  color: #808080;
  margin: 20px 0;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 200;
}
#trainer .box {
  margin: 0 5px;
}
#trainer .box .textbox {
  padding: 0 16px;
}
#trainer .box .textbox h2 {
  font-size: 22px;
  font-weight: 500;
  color: #405a58;
  margin: 20px 0;
}
#trainer .box .textbox ul {
  display: flex;
}
#trainer .box .textbox ul li {
  margin: 0 10px 0 0;
}
#trainer .box .textbox ul li .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
}
#trainer .wid {
  max-width: 580px;
}
@media screen and (max-width: 992px) {
  #trainer .textbox h3, #trainer .textbox h4 {
    font-size: 18px;
  }
  #trainer .textbox h4 {
    margin: 10px 0;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  #trainer .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #trainer .box .imgbox {
    max-width: 400px;
    border-radius: 20px;
  }
  #trainer .box .textbox {
    margin: 0 0 15px;
    text-align: center;
    max-width: 300px;
  }
  #trainer .box .textbox ul {
    justify-content: center;
  }
}

#table {
  padding: 40px 0;
}
#table .textbox {
  max-width: 580px;
  text-align: center;
  background-color: #ffffff;
}
#table .textbox h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0 0;
}
#table .textbox h3 {
  color: #808080;
  margin: 20px 0 50px;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 200;
}
#table .box {
  padding: 50px 30px;
  text-align: center;
  background-color: #A2C0BE;
  color: #ffffff;
}
#table .box h4, #table .box h2, #table .box ul, #table .box h5 {
  color: #ffffff;
}
#table .box h2 {
  font-size: 28px;
  font-weight: 500;
}
#table .box h4 {
  font-size: 48px;
  font-weight: 400;
  margin: 20px 0;
}
#table .box ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#table .box ul li {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
#table .box ul li h6 {
  font-size: 16px !important;
}
#table .box ul li .icon {
  margin-right: 10px;
}
#table .box .btn {
  margin: 30px 0 0;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #343A40;
}
#table .premiumbox {
  background-color: #343A40;
}
#table .premiumbox .btn {
  background-color: #A2C0BE;
}
@media screen and (max-width: 992px) {
  #table .textbox h1 {
    font-size: 32px;
  }
  #table .textbox h3 {
    font-size: 18px;
  }
  #table .box {
    border-radius: 20px;
    padding: 45px 25px;
  }
  #table .box h2 {
    font-size: 22px;
  }
  #table .box h4 {
    font-size: 36px;
    margin: 15px 0;
  }
  #table .box .btn {
    margin: 20px 0 0;
    padding: 8px 20px;
    border-radius: 24px;
  }
  #table .mrg {
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  #table .box {
    padding: 25px 0;
  }
  #table ul {
    padding: 0 0 15px;
  }
}

#question {
  padding: 40px 0;
}
#question h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0;
}
#question h3 {
  color: #808080;
  margin: 0 0 40px;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 200;
}
#question .textbox {
  padding: 0 70px;
}
#question .textbox .minibox {
  margin: 20px 0 0;
}
#question .textbox .minibox h2 {
  margin: 0 0 0 10px;
}
#question .textbox li {
  display: flex;
  margin: 30px 0 0;
}
#question .textbox .icon {
  color: #CCCCCC;
  font-size: 22px;
}
#question .textbox h2, #question .textbox h4 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
#question .textbox p {
  color: gray;
  font-weight: 200;
  line-height: 1.7;
  margin: 30px 0 0 32px;
}
#question .wid {
  max-width: 580px;
}
@media screen and (max-width: 992px) {
  #question h1 {
    font-size: 32px;
  }
  #question h3 {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 1.2;
  }
  #question .textbox {
    padding: 0 30px;
  }
  #question .textbox .minibox {
    margin: 0;
  }
  #question .textbox .minibox li {
    margin: 0;
  }
  #question .textbox .minibox li h2 {
    font-size: 18px;
  }
  #question .textbox p {
    line-height: 1.4;
  }
  #question .textbox h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  #question h1 {
    font-size: 28px;
  }
  #question .textbox {
    margin-bottom: 15px;
    padding: 0;
  }
  #question .imgbox {
    border-radius: 20px;
    max-width: 350px;
  }
}

#blog {
  padding: 40px 0;
}
#blog h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0;
}
#blog h3 {
  color: #808080;
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 200;
}
#blog .textbox {
  margin: 0 0 0 20px;
}
#blog .textbox h2 {
  font-size: 22px;
  font-weight: 200;
}
#blog .textbox h4 {
  margin: 16px 0;
  color: #b3b3b3;
  font-weight: 400;
}
#blog .textbox p {
  color: gray;
  line-height: 1.5;
  font-size: 18px;
}
#blog .textbox h5 {
  color: #a2c0be;
  margin: 16px 0;
  font-size: 18px;
}
#blog .wid {
  max-width: 580px;
}
@media screen and (max-width: 992px) {
  #blog h1 {
    font-size: 28px;
    margin: 10px 0;
  }
  #blog h3 {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.2;
  }
  #blog .textbox h2 {
    font-size: 20px;
  }
  #blog .textbox h4 {
    margin: 12px 0;
  }
  #blog .textbox p {
    line-height: 1.3;
    font-size: 16px;
  }
  #blog .textbox h5 {
    margin: 12px 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #blog .mrg {
    margin-bottom: 20px;
  }
  #blog .mrg .imgbox {
    max-height: 80px;
    border-radius: 20px;
  }
}

#service {
  padding: 40px 0;
}
#service h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0;
}
#service h3 {
  color: #808080;
  margin: 0 0 40px;
  font-size: 21px;
  line-height: 1.5;
  font-weight: 200;
}
#service .icon {
  width: 100px;
}
#service .icon i {
  font-size: 100px;
}
#service .box .textbox {
  margin: 24px 0;
}
#service .box .textbox h2 {
  font-size: 22px;
  font-weight: 500;
}
#service .box .textbox p {
  font-size: 18px;
  line-height: 1.5;
  color: gray;
  font-weight: 400;
  margin: 16px 0;
}
#service .wid {
  max-width: 580px;
}
@media screen and (max-width: 992px) {
  #service h1 {
    font-size: 28px;
    margin: 8px 0;
  }
  #service h3 {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.3;
  }
  #service .icon {
    width: 80px;
  }
  #service .icon i {
    font-size: 80px;
  }
  #service .box h2 {
    font-size: 19px;
  }
  #service .box p {
    font-size: 16px;
    line-height: 1.3;
    margin: 12px 0;
  }
}
@media screen and (max-width: 768px) {
  #service .box {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #service .box .textbox {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */